* {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}

html {
  background-image: url(images/cash2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}

body {
  padding-top: 2%;
}

.inputSizing {
  font-size: 20px;
  padding: 5px 0;
  font-weight: bold;
}

.allItems {
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 109, 109, 0.97);
  color: rgb(249, 247, 246);
  width: 90%;
  margin: auto;
  padding: 10px 0;
  border: 5px solid rgb(37, 34, 32);
  border-radius: 4px;
}

input[type="radio"] {
  margin: auto;
}

.radio_btns {
  display: flex;
  justify-content: space-around;
  border: 4px solid rgb(158, 194, 149);
  border-radius: 4px;
  width: 80%;
  margin: auto;
  padding: 30px 15px 10px 15px;
}

.individualBtn {
    display: flex;
    flex-direction: column;
}

label {
  font-size: 20px;
}

.borders {
  border: 3px solid rgb(214, 191, 212);
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto 0 auto;
  padding: 0 10px;
  white-space: nowrap;
}

.submit_btn {
  font-size: 25px;
  padding: 10px 27px;
  margin: 20px auto;
  background-color: rgb(158, 194, 149);
  border: 2px solid rgb(37, 34, 32);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.submit_btn:hover {
  background-color: rgb(249, 248, 246);
  cursor: pointer;
  border: 2px solid rgb(158, 194, 149);
  transition: all 0.3s;
}

label {
    margin-top: 10px;
}

p {
  font-size: 24px;
}

@media only screen and (min-width: 850px) {
    .allItems {
        width: 50%;
    }

    h2 {
        font-size: 32px;
    }

    .inputSizing {
        width: 50%;
        font-size: 28px;
    }

    input[type="radio"] {
        transform: scale(2);
    }

    label {
        font-size: 28px;
    }

    p {
        font-size: 28px;
    }
}