* {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 400;
}

html {
  background-image: url(images/cash2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.allItems {
    background-color:rgba(84, 109, 109, 0.97);
    color: rgb(249, 247, 246);
    width: 25%;
    margin: auto;
    padding: 10px 0;
    
}

body {
  padding-top: 6%;
}

.borders {
  border: 3px solid rgb(200, 199, 224);
  border-radius: 5px;
  width:fit-content;
  margin: 0 auto 0 auto;
  padding: 0 10px; 
  white-space: nowrap;
}



.submit_btn {
  font-size: 25px;
  padding: 10px 27px;
  margin: 20px auto;
  background-color: rgb(158, 194, 149);
}
